lab 3/odBartka.ipynb
Lab 3/Lab3Geometryczne.ipynb
Lab 3/Lab3Geometryczne — kopia.ipynb
Lab 3/bufor.py
Lab 3/.ipynb_checkpoints/odBartka-checkpoint.ipynb
Lab 3/.ipynb_checkpoints/Lab3Geometryczne-checkpoint.ipynb
Lab 3/.ipynb_checkpoints/Lab3Geometryczne — kopia-checkpoint.ipynb
Lab 2/Nowakowski_kod_2.ipynb
Lab 2/.ipynb_checkpoints/Nowakowski_kod_2-checkpoint.ipynb
gotowenoeakowskilab3.ipynb
gotoweLab3.ipynb
.ipynb_checkpoints/nowakowski_3_kod-checkpoint.ipynb
.ipynb_checkpoints/gotowenoeakowskilab3-checkpoint.ipynb
.ipynb_checkpoints/gotoweLab3-checkpoint.ipynb
.idea/vcs.xml
.idea/other.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/Algorytmy_geometryczne.iml
Lab 3/Lab3Geometryczne.ipynb
Lab 2/Nowakowski_kod_2.ipynb
